{% extends 'base.html' %}

{% block content %}
<main class="row mt-5">
    <div class="col m-5">
        <h1 class="text-left my-4">New Question</h1>

        <form method="post">
            {% csrf_token %}
            
            <div class="mb-3" style="width: 75%;">
                <label for="id_title" class="form-label">Title</label>
                <input type="text" class="form-control" id="id_title" name="title" value="{{ form.title.value|default:'' }}">
                {% if form.title.errors %}
                    <div class="text-danger mt-1">{{ form.title.errors.0 }}</div>
                {% endif %}
            </div>

            <div class="mb-3" style="width: 75%;">
                <label for="id_text" class="form-label">Text</label>
                <textarea class="form-control" id="id_text" name="text" rows="15">{{ form.text.value|default:'' }}</textarea>
                {% if form.text.errors %}
                    <div class="text-danger mt-1">{{ form.text.errors.0 }}</div>
                {% endif %}
            </div>

            <div class="mb-3" style="width: 75%;">
                <label for="id_tags" class="form-label">Tags (Enter tags separated by commas.)</label>
                <input type="text" class="form-control" id="id_tags" name="tags" value="{{ form.tags.value|default:'' }}">
                {% if form.tags.errors %}
                    <div class="text-danger mt-1">{{ form.tags.errors.0 }}</div>
                {% endif %}
            </div>

            <button class="btn btn-outline-success" type="submit">Ask</button>
        </form>
    </div>
</main>
{% endblock %}