<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Questions</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>

    <nav class="navbar navbar-expand-lg fixed-top w-100 bg-body-tertiary border-bottom ">
        <div class="container-fluid">
            <a class="" href="{% url 'index' %}">
                <img src="{% static 'img/logo.png' %}" alt="AskKotsur" class="img-fluid" style="max-width: 200px">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                    <a href="{% url 'ask' %}" class="btn btn-outline-secondary mx-2">ASK!</a>
                </form>
            </div>

            <div class="d-none">
                <a href="{% url 'login' %}" class="btn btn-outline-secondary me-2">Log In</a>
                <a href="{% url 'signup' %}" class="btn btn-outline-secondary">Sign Up</a>
            </div>

            <div class="d-flex gap-1">
                <img src="{% static 'img/avatar.png' %}" alt="Avatar" class="rounded-circle me-4 img-fluid"
                    style="max-width: 64px;">
                <div>
                    <div>
                        Sava Kotsur
                    </div>
                    <a href="{% url 'settings' %}" class="btn btn-outline-secondary">Settings</a>
                    <a href="#" class="btn btn-outline-secondary">Log Out</a>
                </div>
            </div>
        </div>
    </nav>

    <main class="row mt-5 mx-0">

        <div class="col m-5 ">
            {% block content %}
            {% endblock %}
        </div>

        <aside class="right-column bg-light d-flex bord">
            <div class="p-3 mb-4 mt-4">
                <div>
                    <div class="h3">
                        Popular Tags
                    </div>
                    <div class="d-flex flex-wrap gap-3 mb-4">
                        <a href="#" class="h5">PostgresQL</a>
                        <a href="#" class="h5">Django</a>
                        <a href="#" class="h5">Python</a>
                        <a href="#" class="h5">Machine Learning</a>
                        <a href="#" class="h5">NoCode</a>
                        <a href="#" class="h5">Firefox</a>
                        <a href="#" class="h5">Yandex</a>
                        <a href="#" class="h5">Algorythms</a>
                    </div>
                </div>

                <div>
                    <div class="h3">
                        Best Members
                    </div>
                    <div class="d-flex flex-column gap-3">
                        <a href="#">Dr. Pepper</a>
                        <a href="#">Mr. Freeman</a>
                        <a href="#">Kotik Koteev</a>
                        <a href="#">Goga</a>
                        <a href="#">Soda LUV</a>
                        <a href="#">Jupiter</a>
                        <a href="#">Proger_Bez_Korki</a>
                    </div>
                </div>
            </div>
        </aside>
    </main>

    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>

</html>