{% extends "base.html" %}

{% block content %}
        <div class="col m-5">
            <div class="w-50 mx-auto">
                <h2>Login</h2>
                <form action="#">
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" name="email" maxlength="40" required style="max-width: 400px;">
                        <div class="text-danger mt-1">Email cannot be empty.</div>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" name="password" maxlength="40" required style="max-width: 400px;">
                        <div class="text-danger mt-1">Password cannot be empty.</div>
                    </div>
                    <button type="submit" class="btn btn-primary">Log In</button>
                    <a href="{% url 'signup' %}" class="btn btn-outline-secondary">Create new account</a>
                </form>
            </div>
        </div>
{% endblock %}